body {
    background-color: $color--default;
    color: $color--primary;
    background-image: url('#{$theme--images}light-noise.png');
}

p {
    font-size: $type--paragraph;
}

ul {
    font-size: $type--paragraph;
}

#body {
    z-index: 10;
}

.hidden {
    display: none;
}
