{% extends 'partials/base.html.twig' %}

{% block content %}
	{% if contentContainer %}
	<div class="container--content">
		{{ page.content }}
	</div>
	{% else %}
	<div class="container">
		{{ page.content }}
	</div>
	{% endif %}
{% endblock %}
