{% extends 'default.html.twig' %}

{% block content %}
    <section class="section--marg">
        <div class="container--content">
            <h1>Here are your account settings!</h1>
        </div>
    </section>
{% endblock %}
