<span class="login-status">
    <span id="js-headerLoginStatus">
        <span class="" id="js-headerLogin"><a href="/register">Create an account »</a> or <a href="/login">login »</a></span>
        <span class="hidden" id="js-headerLogout">Welcome <span id="js-username"></span>! <button id="js-headerLogoutButton" name="logout">Logout »</button></span>
    </span>
</span>
