<span class="login-status">
    <span class="js-badgeNoAuth">
        <a href="/register">Create an Account »</a> or <a href="/login">Login »</a>
    </span>
    <span class="js-badgeAuth">
        Welcome, <span class="js-authUsername">{{ username }}</span>, <a href="/logout">logout »</a>
    </span>
</span>
