<ul class="nav">
    {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
        <li class="{{ current_page }} nav--item nav--item__{{ page.header.icon|lower }}" data-dropdown="{{ page.header.icon|lower }}" aria-haspopup="true" role="menuitem" aria-owns="{{ page.menu|lower }}Menu">
            {% include 'partials/navigation-icons.html.twig' %}
        </li>
    {% endfor %}
</ul>
