// ---- Padding Utilities ----

.section--pad {
    padding-top: $padding--large;
    padding-bottom: $padding--large;
}


.pt {

    &--30 {
        padding-top: $padding--base;
    }

    &--60 {
        padding-top: $padding--large;
    }

    &--90 {
        padding-top: $padding--huge;
    }
}

.pb {

    &--30 {
        padding-bottom: $padding--base;
    }

    &--60 {
        padding-bottom: $padding--large;
    }

    &--90 {
        padding-bottom: $padding--huge;
    }
}

// ---- Margin Utilities ----

.section--marg {
    margin-top: $padding--large;
    margin-bottom: $padding--large;
}

.section--marg__huge {
    margin-top: $padding--huge;
    margin-bottom: $padding--huge;
}

.mt {

    &--30 {
        margin-top: $padding--base;
    }

    &--60 {
        margin-top: $padding--large;
    }

    &--90 {
        margin-top: $padding--huge;
    }
}

.mb {

    &--30 {
        margin-bottom: $padding--base;
    }

    &--60 {
        margin-bottom: $padding--large;
    }

    &--90 {
        margin-bottom: $padding--huge;
    }
}
