// ---- Padding Utilities ----

.section--pad {
    padding-top: $padding--large;
    padding-bottom: $padding--large;
}


.pt {

    &--60 {
        padding-top: $padding--large;
    }
}

.pb {

    &--60 {
        padding-bottom: $padding--large;
    }
}

// ---- Margin Utilities ----

.section--marg {
    margin-top: $padding--large;
    margin-bottom: $padding--large;
}

.mt {

    &--60 {
        margin-top: $padding--large;
    }
}

.mb {

    &--60 {
        margin-bottom: $padding--large;
    }
}
