.section--badge-cta {

    &__yellow {
        background-color: $color--info;
        background-image: url('#{$theme--images}light-noise.png');
    }
}

// -- DESKTOP QUERY --
@media only screen and (min-width: $breakpoint--tablet) {

    .section--badge-cta {
        position: relative;

        .badge--box {
            position: absolute;
            top: -60px;
        }
    }
}
